body {
    font-family: "Montserrat", sans-serif; /* 기본 폰트를 Montserrat로 설정 */
    text-align: center;
}

/* Container */
.container-fluid {
    padding: 7% 15%;
}

/* section */

.colored-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
    background-color: #fff;
}
/* Navigation bar */
.navbar{
    padding: 0 0 4.5rem 0;
}
.navbar-brand{
    font-family: "Ubuntu", sans-serif; /* Ubuntu 폰트를 정확히 설정 */
    font-size: 5rem;
    font-weight: bold;
}

.nav-item{
    padding: 18px;
}

.nav-link{
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 300; /* Light 300 */
    font-style: italic; /* Italic 설정 */
}

.download-button{
    margin: 5% 3% 5% 0;
}

/* title */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left; 
}
   

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

p{
    color:#8f8f8f;
}

/* heading */

.big-heading{
    font-family: "Montserrat", sans-serif; /* 폰트 이름 */
    font-weight: 900; /* Black 900 */
    font-size: 3rem;
    line-height: 1.5;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/* feature */

#features{
    position: relative;
    z-index: 1;
}

.feature-title{
    font-size: 1.5rem;
}

.feature-box{
    padding: 4.5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
color: #ff4c68;
}

/* testmonial */

#testimonials{
    background-color: #ef8172;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 15px 15px 50px;
}

/* pricing */

#pricing{
    padding: 100px;
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column{
    padding: 3% 2%;
}

/* Call to Action 섹션 스타일 */
  
/* Footer 스타일 */

.social-icons{
    margin: 20px 10px;
}

#footer p {
    font-size: 0.9rem;
}

  @media (max-width: 1028px) {

    #title {
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}

  @media (max-width: 1028px) {

    #cta h3 {
        font-size: 1.8rem; /* 헤드라인 크기 축소 */
    }
    
    #cta button {
    font-size: 1rem; /* 버튼 크기 축소 */
    padding: 8px 20px;
    }
}